html, body {
    color: white;
    font-family: "Determination";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

@font-face
{
    font-family: 'Determination';
    src: url('determinationmonoweb-webfont.woff') format('woff');
}

hr.solid {
  border-top: 3px solid #bbb;
}
