@import url("fonts.css");

html, body {
    color: white;
    font-family: "determinationmonoweb-webfont";
}

@font-face
{
    font-family: 'determinationmonoweb-webfont';
  src: url('css/determinationmonoweb-webfont.eot');
      url('css/determinationmonoweb-webfont.eot?#') format('embedded-opentype'),
      url('css/determinationmonoweb-webfont.woff') format('woff'),
      url('css/determinationmonoweb-webfont.ttf') format('truetype');
}
