html, body {
    color: white;
    font-family: "Determination";
    font-weight: normal;
}

@font-face
{
    font-family: 'Determination';
    src: url('determinationsansweb-webfont.woff') format('woff');
}
