#cbb-lb{top:0!important;}
#cbb-lb .customTemplate-head{background:transparent url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/bg.gif) top left repeat-x;height:89px;}
#cbb-lb .cbb-panel-head{margin:0 auto;position:relative;top:2px;height:89px;width:987px;padding:0;overflow:visible;background:transparent url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/banner_bg.jpg) 12px -1px no-repeat;}
#cbb-lb #cbb-panel-logo{position:absolute;top:11px;left:0;}
#cbb-lb #cbb-panel-logo a{display:block;height:46px;width:180px;}
#cbb-lb #cbb-panel-back-btn{position:relative;left:-80px;top:10px;}
#cbb-lb .panel-close span,
#cbb-lb #cbb-switch-info img{behavior:url("/web/20111216235637im_/http://www.bbc.co.uk/cbbc/style/iepngfix.htc");}
#cbb-lb .panel-close{position:relative;top:10px;left:0;float:right;clear:right;}
#cbb-lb .panel-close span{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/back.png);position:absolute;left:-18px;top:-15px;display:block;width:124px;height:57px;cursor:pointer;}
#cbb-lb .customTemplate-body{margin:0 auto;width:987px;padding:0;}
#cbb-lb #cbb-lb-content{float:left;background:transparent url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_lhs_bg.gif) repeat-y;padding:0;}
#cbb-lb #cbb-lb-lhs{position:relative;background:transparent url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_lhs.gif) no-repeat;float:left;}
#cbb-lb #cbb-lb-game-embed{position:relative;padding:14px 14px 10px 13px;margin:0 0 0 14px;min-height:455px;width:746px;_height:458px;background:#fff url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_lhs_top.gif) no-repeat top right;}
#cbb-lb .cbb-lb-guinfo{margin:0;padding:0;float:left;}
#cbb-lb #cbb-lb-lhs-bot{clear:both;background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_lhs_bot.gif) no-repeat bottom left;width:787px;height:30px;}
#cbb-lb #cbb-lb-rhs{float:left;height:577px;;_height:575px;padding-top:17px;position:relative;top:-20px;width:200px;}
#cbb-lb.taller #cbb-lb-rhs {height:647px;}
#cbb-lb #cbb-csp-related{left:60px;position:relative;top:2px;width:140px;background:none transparent !important;height:255px;}
#cbb-lb #cbb-lb-rhs-content{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_rhs_bg.gif) repeat-y;width:200px;clear:both;padding-top:50px;position:absolute;bottom:-20px;width:200px;min-height:300px;_height:300px;}
#cbb-lb #cbb-lb-rhs-content h1{padding:10px 15px;font-size:1.2em;}
#cbb-lb #cbb-lb-rhs-content h2{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_rhs_top.gif) no-repeat top left;float:left;height:34px;padding:22px 0 0 10px;width:200px;position:absolute;top:0;left:0;}
#cbb-lb #cbb-lb-rhs-content h2 span{position:absolute;top:21px;left:8px;display:block;width:183px;height:53px;background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/how_to_play.gif) no-repeat top left;}
#cbb-lb #cbb-lb-rhs-content p{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_rhs_bg.gif) repeat-y;padding:0 25px 0 16px;font-size:1.2em;}
#cbb-lb #cbb-lb-rhs-bot{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_bot_rhs.gif) no-repeat bottom left;position:absolute;bottom:-20px;width:200px;height:41px;float:left;}
#cbb-lb #cbb-lb-gu-info{background:#fff url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_gu_top.gif) top left no-repeat;float:left;margin:0 0 0 27px;_margin:0 0 0 13px;width:760px;_width:761px;}
#cbb-lb #cbb-lb-gu-content{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_gu_bot.gif) no-repeat bottom left;height:11px;float:left;min-height:85px;padding:0;margin:0;width:747px;}
#cbb-lb.taller #cbb-lb-gu-content {padding:25px 0;}
#cbb-lb #cbb-lb-gu-help{float:left;padding:10px 0 0 0;}
#cbb-lb #cbb-lb-gu-help p{background:transparent url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/icon_gu.gif) no-repeat scroll left 15px;clear:both;font-size:1.6em;font-weight:bold;margin:0 0 0 15px;padding:9px 10px 6px 46px;width:125px;height:55px;line-height:1em;}
#cbb-lb #cbb-lb-gu-content-bot{background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/lb_gu_bot.gif) no-repeat;width:745px;height:11px;}
#cbb-lb .cbb-lb-guinfo{float:left;margin:15px 13px 0 0;width:170px;position:relative;height:55px;}
#cbb-lb .cbb-lb-guinfo span{font-size:1.2em;position:absolute;top:0;left:0;}
#cbb-lb .cbb-lb-guinfo a{display:block;text-decoration:none;cursor:pointer;color:#000;font-weight:bold;}
#cbb-lb .cbb-lb-guinfo img{position:absolute;z-index:99;}
#cbb-lb{background:#d8f1ff url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/blue_bg.gif) top left repeat-x;}
#cbb-lb #cbb-charactericon, #cbb-lb #cbb-contextualback{left:62px;top:0;}
#cbb-lb #cbb-context{margin:0;top:-2px;left:2px;}
#cbb-lb #cbb-switch-info{color:#000;display:block;font-family:verdana,arial,sans-serif;height:62px;_height:61px;left:9px;margin:10px 0 0;padding:31px 0 38px;position:relative;}
#cbb-lb #cbb-lb-rhs-content #cbb-switch-info p{font-size:1.1em;font-weight:bold;background:url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/lb/switch_btn.gif) no-repeat;padding:5px 0 0 40px;}
#cbb-lb #cbb-switch-info a{text-decoration:none;color:#000;margin:0;display:block;position:absolute;}
#cbb-lb #cbb-switch-info img{position:absolute;z-index:99;}
#cbb-lb #cbb-switch-info span{position:absolute;top:5px;left:10px;width:150px;}
#cbb-lb #cbb-lb-rhs #cbb-context a:hover span.img,
#cbb-lb #cbb-context a span.img{top:-118px;}
#cbb-non-flash{background:#d2bff7 url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/icon/icon_search.png) 640px 15px no-repeat;height:454px;width:746px;font-size:1.4em;}
#cbb-non-flash h2{position:relative;width:80px;height:48px;padding:52px 0 0 24px;}
#cbb-non-flash h2 span{position:absolute;width:80px;height:48px;top:52px;left:24px;background:#d2bff7 url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/home/p1_gu_oops.gif) top left no-repeat;}
#cbb-non-flash p{font-size:1.1em;margin:10px 0 10px 24px;padding:5px 0;}
#cbb-non-flash p.cbb-errordetail{background:#d2bff7 url(/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/home/p1_exclaim.gif) top left no-repeat;padding:10px 0 10px 34px;}
#cbb-non-flash a{font-weight:bold;color:#000;text-decoration:none;}
#cbb-non-flash a:hover{text-decoration:underline;}
#cbb-livestats{zoom:1;position:relative;width:1px;overflow:hidden;}

#cbb-lb #cbb-lb-rhs-content p a {
    background: url("/web/20111216235637im_/http://www.bbc.co.uk/cbeebies/img/icon/p_arrow.gif") no-repeat scroll 0 0 transparent;
    color: #692CE6;
    display: block;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 0 0 0 16px;
    text-decoration: none;
}


/*
     FILE ARCHIVED ON 23:56:37 Dec 16, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:35:03 Apr 07, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 103.87
  exclusion.robots: 0.204
  exclusion.robots.policy: 0.196
  RedisCDXSource: 2.093
  esindex: 0.009
  LoadShardBlock: 70.029 (3)
  PetaboxLoader3.datanode: 83.154 (5)
  CDXLines.iter: 19.375 (3)
  load_resource: 93.002 (2)
  PetaboxLoader3.resolve: 48.905 (2)
*/